*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1518px;
    background: url(./image/user_background.jpg);
}

/* 头部 */
.header h1{
    text-indent: -9999px;
}
.header{
    width: 1518px;
    height: 90px;
    background: url(./image/logo.png) no-repeat 75px 15px;
    background-color:rgb(142, 207, 244);
    text-align: center;
    /*实现导航栏的水平居中*/
    margin: auto;
    left: 0;
    right: 0;
}

/*菜单栏*/
.menu{
    list-style: none;
    text-decoration: none;
}
.menu li a{
    text-decoration: none;
    width: 80px;
    float: right;
    color: white;
    font-size:15px;
    padding: 5px;
}
/*首页*/
.menu li .a1{
    margin-right: 60px;
    font-size: 20px;
    background-color: rgb(245, 167, 167);
    border-radius: 5px;
}
.menu li .a1:hover{
    background-color: rgb(10, 78, 179);
}
/*导航栏*/
.nav1 a{
    text-decoration: none;
    width: 80px;
    float: right;
    color: white;
    font-size:15px;
    padding: 5px;
    border-radius: 5px;
}
.menu .nav1 .cont{
    font-size: 20px;
    background-color: rgb(245, 167, 167)
}
.menu .nav1 .cont:hover{
    background-color: rgb(130, 124, 116);
}
.nav1{
    margin-left: 360px;
    position: relative;
    display: inline-block;
}
.nav2 {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
.nav2 a{
    color: black;
    width: 80px;
    height: 30px;
    display: block;
    padding-top: 14px;
}
.nav2 a:hover {
    background-color: rgb(10, 78, 179);
}
.nav1:hover .nav2 {
    display: block;
}
/*搜索图标*/
.menu li .a2{
    width: 40px;
    background-color: rgb(245, 167, 167);
    border-radius: 100px;
}
.menu li .a2 .a22{
    cursor: pointer;
    font-size: 25px;
    color: transparent;
    background: url(./image/32aac580.png) no-repeat 8px 2px;
    border-style: none;
}
.menu li .a2:hover{
    background-color: rgb(10, 78, 179);
}
/*搜索栏*/
.menu li .a3{
    margin-right: 260px;
    padding: 0px;
}
.menu li .a3 .a33{
    height: 34px;
    width: 260px;
    border-radius: 10px;
    outline: none;
    text-indent: 5px;
}
.menu li .a3 .a33:hover{
    background:whitesmoke;
}

/*用户中心*/
.menu li .a4{
    width: 100px;
    margin-right: 70px;
    margin-top: -4px;
}
.menu li .a4 .a44{
    border-radius: 5px;
    color: white;
    border: none;
    width: 110px;
    height: 36px;
    font-size: 20px;
    background-color: rgb(245, 167, 167);
    cursor: pointer;
}
.menu li .a4 .a44:hover{
    border-radius: 5px;
    background-color: rgb(10, 78, 179);
}

/*登录/注册*/
.menu li .a5{
    border-radius: 5px;
    width: 100px;
    margin-right: 60px;
    font-size: 20px;
    background-color: rgb(245, 167, 167);
}
.menu li .a5:hover{
    background-color: rgb(10, 78, 179);
}



.content{
    padding-top: 50px;
    width: 800px;
    height: 600px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.dt_0{
    width: 160px;
    height: 464.8px;
    border-left: 50px;
    border-right: 50px;
    border-radius: 15px;
    margin-right: 20px;

}
.dt_0 img{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100px;
    height: 100px;
}

.dt_0 .dt_0_1{
    width: 160px;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 5px;
    cursor: pointer;
    font-size: 18px;
}
.dt_0 .dt_0_1:hover{
    background-color: rgb(189, 214, 247);
}

.dt_0, .dt1_1, .dt1_2{
    float: left;
    background-color: white;
}
.dt1_1{
    width: 210px;
    letter-spacing: 5px;
}
.dt1_1_1 a{
    text-decoration: none;
}
.dt1_1_1 a:hover{
    color: rgb(221, 115, 115);
}
.dt1_2{
    width: 410px;
}
.dt1_2_1{
    cursor: pointer;
}
.dt1_2_1:hover{
    color: rgb(108, 106, 106);
}

dt{
    margin-left: 180px;
    letter-spacing: 10px;
    font-size: 30px;
    padding: 15px 0;
    background-color: rgb(56, 179, 246);
    text-align: center; 
}
dd{
    padding: 15px;
    font-size: 20px;
}